.navbar-brand
{
  color: lightYellow !important;
}

.nav-link
{
  color: lightGrey !important;
}

.dropdown-menu
{
  background-color: lightYellow;
}

.dropdown-item:hover
{
  background-color: lightBlue;
}

.card-header
{
  font-size: 33px;
  font-weight: bold;
}

body
{
  background-color: lightYellow;
  font-size: 12px;
}
.jumbotron
{
  background-color: lightBlue;
}

.name
{
  font-weight: bold;
  font-size: 69px;
  color: lightYellow;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.catchPhrase
{
  font-size: 1.42em;
  color: lightYellow;
  margin-left: 6rem;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

body.en :lang(fr)
{
  display: none;
}

body.fr :lang(en)
{
  display: none;
}
