.navbar-pinky
{
  background-color: #ff69cc;
}

.navbar-serious
{
  background-color: #21bbbb;
}

.card-header
{
  font-size: 33px;
  font-weight: bold;
}

body
{
  background-color: #ffccff;
  font-size: 12px;
}

body.en :lang(fr)
{
  display: none;
}

body.fr :lang(en)
{
  display: none;
}
