.navbar-brand
{
  color: lightYellow !important;
}

.nav-link
{
  color: lightGrey !important;
}

.dropdown-menu
{
  background-color: lightYellow;
}

.dropdown-item:hover
{
  background-color: lightBlue;
}

.card-header
{
  font-size: 33px;
  font-weight: bold;
}

.card-body
{
  font-size: 14px;
}

body
{
  background-color: lightYellow !important;
  font-size: 12px;
}
.jumbotron
{
  background-color: lightBlue;
}

.name
{
  font-weight: bold;
  font-size: 69px !important;
  color: lightYellow !important;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* change the color of the icon to red (used by SPA/OpenDataBordeaux.php */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.catchPhrase
{
  font-size: 20px;
  color: IndianRed;
  margin-left: 6rem;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

@media only screen and (max-width: 1200px)
{
  .name
  {
    font-size: 47px;
  }
  
  .catchPhrase
  {
	font-size: 16px;
  }
}

body.en :lang(fr)
{
  display: none;
}

body.fr :lang(en)
{
  display: none;
}
