.TitleHeader
{
  text-align: center;
  font-family: fantasy;
  font-size: 42px;
  color: #FF81B0
}

.Catégorie
{
  border-style: groove;
  border-color: red green blue yellow;
}

.Autheur
{
    font-style: italic;
    background-color: green;
    padding-left: 1em;
    padding-right: 2em;
    padding-top: 3em;
    padding-bottom: 4em;
    margin: 4em 3em 2em 1em
}

span
{
  position:fixed;
  font-style: italic;
  font-weight: bold;
}
